{% block footer %}
    <footer class="navbar navbar-expand-lg fixed-bottom navbar-dark bg-warning col-lg-12" id="Footer">
        <div class="row col-lg-12 justify-content-center">


            <div class="col-lg-3">

                <!-- Links -->
                <h5 class="text-uppercase">Informations Légales</h5>

                <ul class="list-unstyled">
                    <li>
                        <a href="#">Mention Légales</a>
                    </li>
                    <li>
                        <a href="#">Condition général d'utilisation</a>
                    </li>
                </ul>
            </div>

            <div class="col-lg-3 justify-content-center">
                <h5 class="text-uppercase">Partenaires</h5>
                <a href="http://frcneurodon.org">
                    <img src="{{ asset ('bundles/cevcore/logos/frc.png') }}" alt="FRC" title="FRC" height="50">

                </a>
            </div>
            <div class="col-lg-3 justify-content-end">
                <a class="btn btn-primary ">connexion</a>
            </div>
        </div>
    </footer>
{% endblock %}